@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.container {
    padding-top: 100px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.add-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 45px;
    color: #e194ff;
    padding-bottom: 5vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap:4.5vh;
}

.fields{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin:20px;
}

.input-box{
    height: 25px;
    width: 45vh;
    margin-left: 7vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.field-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button{
    width: 40vh;
    height:5vh;
    align-self: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    background-color: #e194ff;
    border-radius: 3px;
}

.submit-button:hover{
    border-width: 3px;
}