@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.add-container {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e194ff;
}

.add-box{
    height: auto;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.2rem;
    color: #e194ff;
    padding-bottom: 5vh;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap:1.5vh;
}

.fields{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin:20px;
}

.input-box{
    height: 25px;
    width: 45vh;
    margin-left: 7vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border: 1px solid #e194ff;
    border-radius: 5px;
}

.field-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button{
    width: 40vh;
    height:5vh;
    align-self: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    background-color: #e194ff;
    border-radius: 3px;
}

.submit-button:hover{
    border-width: 3px;
}

/* Web */
@media (min-width: 769px){
    .add-box{
        width: 40%;
    }
}

/* Mobile */
@media (max-width:768px){
    .add-box{
        width: 95%;
    }
    .input-box{
        width: 90%;
    }
}