@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.review-title,
.review-add-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 45px;
    color: #e194ff;
    padding-bottom: 5vh;
    text-align: center; 
}

.review-container {
    padding-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
    align-items: center;
}

.review-username{
    height: 25px;
    width: 45vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.review-textbox {
    width: 80vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    min-height: 10vh;
    max-height: 30vh;
}

::placeholder {
    color: #999999;
}

.review-field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-submit-button {
    width: 40vh;
    height: 5vh;
    align-self: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    background-color: #e194ff;
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s, transform 0.2s; 
}

.review-submit-button:hover {
    background-color: #d68cdb; 
    transform: scale(1.05);
    border-width: 3px;
}

.star {
    width: 40px;
    height: 40px;
    padding-right: 12px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}
