@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.review-title {
    font-family: 'Lexend Deca', sans-serif;
    color: #e194ff;
    padding-bottom: 5vh;
    text-align: center; 
}

.review-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e194ff;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding:10px;
}

.review-username {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid #e194ff;
    border-radius: 5px;
}

.review-textbox {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem; 
    padding: 5px;
    border: 1px solid #e194ff;
    border-radius: 5px;
}

::placeholder {
    color: #999999;
}

.review-field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-submit-button {
    width: 40vh;
    height: 5vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    background-color: #e194ff;
    border-radius: 5px; 
    border: none;
    transition: background-color 0.3s, transform 0.2s; 
}

.review-submit-button:hover {
    background-color: #d68cdb; 
    transform: scale(1.05);
    border-width: 2px; 
}

.star {
    width: 35px;
    height: 35px;
    padding-right: 8px; 
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 768px){
    .review-title{
        font-size: 25px;
    }
    .review-components {
        width: 100%;
        border-radius: 15px;
        height: 70vh;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .review-container{
        padding:15px;
        height: calc(100vh - 30px);
    }
    .review-username{
        height: 35px; 
        width: 95%;
    }
    .review-textbox{
        width: 95%;
        min-height: 15vh; 
        max-height: 30vh;
    }
}

/* Web */
@media (min-width: 769px){
    .review-title{
        font-size: 2.2rem;
    }
    .review-components {
        padding: 30px; 
        border-radius: 15px;
        height: 70vh;
        width: 40%;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .review-username{
        height: 35px; 
        width: 45vh;
    }
    .review-textbox{
        width: 80vh;
        min-height: 15vh; 
        max-height: 30vh;
    }
    .review-container{
        height: calc(100vh - 90px);
;
    }
}