.container {
    padding-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    min-height: 80px;
    width: 50%;
    font-size: x-large;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}


.caption {
    margin: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: #e194ff;
}

.frozenFood {
    border: 2px solid #76d84f;
    background-color: #e8ffdf;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 30px);
    height: 45%;
    box-sizing: border-box;
}

.foodDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foodImage {
    height: 60%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
        font-family: 'Lexend Deca', sans-serif;
}