@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.navbar {
    background-color: #b8ff9c;
    border-top: 4px solid #76d84f;
    height: 50px;
    display: flex;
    align-items: center;
    position:fixed;
    width: 100%;
}

.pages {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center; 
    width: 100%;
}

.page {
    flex: 1;
    color: black;
}

.title {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2em;
}

.title:hover {
    font-weight:600;
}

.website-name {
    flex: 3;
    padding-left: 15px;
    display: flex; 
    align-items: center; 
}

.website-title {
    text-decoration: none;
    font-family: 'Finger Paint', sans-serif; 
    font-size: 1.5em;
}

a:visited {
    color: inherit;
}
