@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Lexend+Deca:wght@100..900&display=swap');

.navbar {
    background-color: #b8ff9c;
    border-top: 4px solid #76d84f;
    height: 60px;
    display: flex; /* Make the navbar a flex container */
    align-items: center; /* Center items vertically */
}

.pages {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center; /* Center items vertically */
    width: 100%; /* Ensure the list takes full width */
}

.page {
    flex: 1;
    color: black;
}

.title {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}

.website-name {
    flex: 3;
    padding-left: 15px;
    display: flex; /* Make the website name a flex container */
    align-items: center; /* Center content vertically */
}

.website-title {
    text-decoration: none;
    font-family: 'Finger Paint', sans-serif; /* Keep the original font */
    font-size: 25px;

}

a:visited {
    color: inherit;
}
