.ldr-background{
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ldr-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    gap:1vh;
    width: 100%;
    margin: 20px;
}
.ldr-title{
    font-size: 35px;
    color: #e194ff;
}
.ldr-description{
    font-size: 20px;
}
.ldr-winners{
    display: flex;
    flex-direction: row;
    height: 45vh;
    width: 65%;
    justify-content: center;
}
.ldr-2{
    flex:1;
    display: flex;
    flex-direction: column;
    height:inherit;
}
.ldr-2-profile{
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.ldr-2-info{
    height: 40%;
}
.ldr-1{
    flex:1;
    display: flex;
    flex-direction: column;
    height:inherit;
}
.ldr-1-profile{
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.ldr-1-info{
    height: 60%;
}
.ldr-3{
    flex:1;
    display: flex;
    flex-direction: column;
    height:inherit;
}
.ldr-3-profile{
    height: 80%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.ldr-3-info{
    height: 20%;
}
.ldr-image{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(45, 255, 196, 0.87);
    -moz-box-shadow: 0px 0px 30px 3px rgba(45, 255, 196, 0.87);
    box-shadow: 0px 0px 30px 3px rgba(45, 255, 196, 0.87);
}

.ldr-1-info,.ldr-2-info,.ldr-3-info{
    background-color: #99ff0a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:10px 10px 0px 10px;
    background-image: linear-gradient(rgb(54, 255, 191),rgb(180, 255, 172));
    border-top:2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ldr-food-name{
    text-align: center;
}

.ldr-rest{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap:15px;
    overflow-y: auto;
}
.ldr-remaining{
    background-color: aquamarine;
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}

/* Web */
@media (min-width: 769px){
    .ldr-background{
        height: calc(100vh - 100px);
    }
}

/* Mobile */
@media (max-width:768px){
    .ldr-background{
        height: calc(100vh - 90px);
    }

}