.home-container {
    padding-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.home-title {
    font-size: 2.5em;
    color: #e194ff;
    margin-bottom: 10px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    margin: 2px;
}

.home-description {
    font-size: 1.2em;
    max-width: 600px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px 10px 30px 10px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.feature-card {
    border: 2px solid #76d84f;
    background-color: #e8ffdf;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.feature-card h2 {
    font-size: 1.5rem;
    color: #e194ff;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 1rem;
    color: #555;
}

.cta-section {
    margin-top: 30px;
}

.start-button {
    background-color: #e194ff;
    border:3px solid #c73aff;
    color: white;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
}

.start-button:hover {
    border-width: 4px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Lexend Deca', sans-serif;
}
